<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <title>Home</title>
  </head>
  <body>
    <div class="container text-center mt-3">
      <div class="jumbotron">
        <h2>Password Generator</h2>

        <form action="{% url 'password' %} ">
          <label for="length">Length:</label>
          <select name="length">
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12" selected="selected">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
          </select>
          <br />
          <input type="checkbox" name="uppercase" />
          <label for="uppercase">UpperCase</label>
          <br />
          <input type="checkbox" name="numbers" />
          <label for="numbers">Numbers</label>
          <br />
          <input type="checkbox" name="special" />
          <label for="special">Special Characters</label>
          <br />
          <input type="submit" class="btn btn-success" value="Generate Password" />
          <br />
        </form>

        <a class="btn btn-primary mt-3" href="{% url 'about' %}">About</a>
      </div>
    </div>
  </body>
</html>
